body {
    font-family: sans-serif;
    background: #384E77;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 50px;
    text-align: center;
    color: #0D0630;
}

progress {
    border: 2px solid black;
    height: 50px;
    width: 95vw;
    background-color: whitesmoke;
    display: flex;
    margin: auto;
    box-sizing: border-box;
}

button {
    background-color: #8BBEB2;
    display: block;
    margin: auto;
    width: 95vw;
    height: 50px;
    font-size: 30px;
    margin-top: 10px;
    border-radius: 3px;
    border: #18314F 2px solid;
    box-sizing: border-box;
}

button:hover {
    background-color: #E6F9AF;
}
